@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(0.9692 0.0192 343.9344);
    --foreground: oklch(0.4426 0.1653 352.3762);
    --card: oklch(0.9837 0.0107 339.3288);
    --card-foreground: oklch(0.4426 0.1653 352.3762);
    --popover: oklch(0.9837 0.0107 339.3288);
    --popover-foreground: oklch(0.4426 0.1653 352.3762);
    --primary: oklch(0.6002 0.2414 0.1348);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9230 0.0701 326.1273);
    --secondary-foreground: oklch(0.4426 0.1653 352.3762);
    --muted: oklch(0.9429 0.0363 344.2604);
    --muted-foreground: oklch(0.5740 0.1732 352.0544);
    --accent: oklch(0.8766 0.0828 344.8849);
    --accent-foreground: oklch(0.4426 0.1653 352.3762);
    --destructive: oklch(0.5831 0.1911 6.3410);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.8881 0.0747 344.3866);
    --input: oklch(0.9230 0.0701 326.1273);
    --ring: oklch(0.6002 0.2414 0.1348);
    --font-sans: 'Poppins', sans-serif;
    --font-serif: 'Playfair Display', serif;
    --font-mono: 'Space Mono', monospace;
  }

  .dark {
    --background: oklch(0.1808 0.0535 313.7159);
    --foreground: oklch(0.8624 0.1307 326.6356);
    --card: oklch(0.2398 0.0661 313.2337);
    --card-foreground: oklch(0.8624 0.1307 326.6356);
    --popover: oklch(0.2398 0.0661 313.2337);
    --popover-foreground: oklch(0.8624 0.1307 326.6356);
    --primary: oklch(0.7543 0.2319 332.0212);
    --primary-foreground: oklch(0.1608 0.0493 327.5673);
    --secondary: oklch(0.3184 0.0915 319.6465);
    --secondary-foreground: oklch(0.8624 0.1307 326.6356);
    --muted: oklch(0.2701 0.0770 312.3525);
    --muted-foreground: oklch(0.7116 0.1623 327.1132);
    --accent: oklch(0.3558 0.1201 325.7655);
    --accent-foreground: oklch(0.8624 0.1307 326.6356);
    --destructive: oklch(0.6539 0.2441 7.1740);
    --destructive-foreground: oklch(0.9821 0 0);
    --border: oklch(0.3280 0.1202 313.5393);
    --input: oklch(0.3184 0.0915 319.6465);
    --ring: oklch(0.7543 0.2319 332.0212);
    --font-sans: 'Quicksand', sans-serif;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}